// colors
$accent-yellow: #FFBD00;
$accent-red: #FF0054;
$accent-blue: #146DF2;
$white: #FFF;
$black: #0B0A14;
$gray: #3B3751;
$purple-gray: #A8A2CE;
$light-gray: #C4BFDE;
$purple-black: #25203F;
$error-red: #ED1C24;


// breakpoints
$media-xs: 480px;
$media-sm: 720px;
$media-md: 980px;
$media-lg: 1200px;
$media-xl: 1440px;
